<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace = "fragments/layout :: head"></head>
<body>
  <div th:replace="fragments/layout :: header"></div>
  
  <div th:replace="fragments/layout :: toolbar"></div>
  
  <div class="content" align="center">
  
 <th:block th:if="${message}">
 <span th:text="${message}"></span>
 </th:block>
  </div>
	
	<div th:replace="fragments/layout :: footer"></div>
	</body>
</html>